*{
    margin:0;
    padding:0;
}

body{
    box-sizing:border-box;
    color:#fff;
    font-size:14px;
}

.container{
    margin-top:20px;
    width:80%;
    max-width: 768px;
    justify-content: center;
    align-items: center;
    margin-left:300px;

}

 .container img{
    background-color: red;;
}

.content{
    max-width:720px;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-left:45px;
    
}

.button {
    width:100%;
}

